@font-face {
  font-family: 'Pommel';
  src:  url('../fonts/Pommel.otf');
}

@font-face {
  font-family: 'Aeonik Light Italic';
  src:  url('../fonts/Aeonik-LightItalic.ttf');
}

@font-face {
  font-family: 'Aeonik Light';
  src:  url('../fonts/Aeonik-Light.ttf');
}


@-webkit-keyframes goesChat {
  0%   {left:0px; top:0px;}
  100% {left:100vw; top:0px;}
}

@-moz-keyframes goesChat {
  0%   {left:0px; top:0px;}
  100% {left:100vw; top:0px;}
}

@keyframes goesChat {
  0%   {left:0px; top:0px;}
  100% {left:100vw; top:0px;}
}



:root {
  --main-color: #e30063;
  --secondary-color: #ffed00;
  --terciary-color: #ffffff;
  --quaternary-color: #999999;
  --quintanary-color: #00aaee;
  --sextenary-color: #fa4090;
  --septenary-color: #e4458a;

  --border-radius-one: 15px;
}

html {
  overflow-x: hidden;
  background: linear-gradient(315deg, #cc0059, #f3006a);
}

body{
  margin: 0;
}

html, body, #app{
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

header{
  
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer !important;
  display: unset;
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

button:hover{
  color:var(--terciary-color) !important;
}

footer{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.836);
  font-family: "Aeonik Light Italic", italic !important;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100vw;
}

footer p{
  margin-top: 0;
}

footer ul{
  list-style: none;
  padding:0;
}

footer li{
  display: inline;
  margin: 0 1.5rem 0 1.5rem;
}

footer li i{
  color:var(--terciary-color);
  font-size: 1.3rem;
}

footer li i:hover{
  color:var(--secondary-color);
}
footer li i:visited{
  color:var(--quaternary-color);
}

a{
  text-decoration: none;
}

.item{
  /* display: inline-block;
  vertical-align: middle */
}

#logo{
  width: 25rem;
}



#app{
  position: absolute;
  top: 0;
  left: 0;}

.flex-container{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}


img{
  margin-left: 15vw;
}


.side-a{
  width: 50vw;
  align-self:center;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
}

.side-b{
  align-self:center;
  flex-grow: 1;
  flex-basis: 0;
  /* width: 50vw; */
}

#inputChat{
  border:none;
  padding:  .5rem .5rem .5rem 1.5rem;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  -17px -17px 33px #c10054, 17px 17px 33px #ff0072;
  font-size: 1.4rem;
  font-family: "Aeonik Light Italic", italic !important;
  margin-right: 1rem;
  outline:none;
  caret-color: var(--main-color);
}

i{
  color:var(--secondary-color);
  font-size:2rem;
}

.secondPage{
}

#openChat{
  position: relative;
}

#openChat i{
  display: inline-block;
  vertical-align: sub;
}

  #windowChat{
  position: absolute;
  top: 0;
  flex-direction: column;
  height: 85%;
  display: none;
  vertical-align: top;
  width: 30rem;
}

.navIcons{
  margin-top: 1rem;
  border-radius: 2rem 2rem  0 0 ;
  background-color: var(--terciary-color);
  text-align: center;
  font-size: 1rem !important;

}

.navIcons button{
  display: inline;
}

.navIcons i{
  color: var(--main-color);
  font-size: 1.5rem;  
}

.navIcons i:hover{
  color:var(--quintanary-color)
}


.navIcons #settings{
  padding: 0 10rem;
  height: 3rem;
}

#textChat{
  margin-top: .3rem;;
  background-color: var(--terciary-color);
  font-family: "Aeonik Light Italic", sans-serif !important;
  font-size: 1.2rem !important;
  width: 30rem;
  border-radius: 2rem ;
  order: 3;
  position: relative;
  flex: none;
  box-sizing: border-box;
  z-index: 1;
  display: inline-flex;
}

#textChat i{
  font-size: 1.6rem;
  color: var(--quaternary-color);
  padding: .5rem;
}

.fieldType{
  color: #444444;
  margin: .5rem 0 0 1rem ;
  border:none;
  width: 80%;
  padding:  .5rem;
  border-radius: var(--border-radius-one);
  background-color:  transparent;
  caret-color: var(--main-color);
  font-weight: 400;
  max-height: 100px;
  min-height: 20px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 1;
}

#textChat i:hover{
  color: var(--quintanary-color) !important;
}

#chat{
  flex: 1 2 0;
  order: 2;
  position: relative;
  z-index: 99;
  padding:  .5rem .5rem .5rem .5rem;
  /* border-radius: var(--border-radius-one); */
  border-radius:  0 0 2rem 2rem;
  font-size: 1.4rem;
  font-family: "Aeonik Light", sans-serif !important;
  background-color: var(--terciary-color);
  caret-color: var(--main-color);
  overflow-x:hidden;
  overflow-y:visible;
}

#wrapperChat{
  overflow-y:hidden;
}

#chat p{
  margin: .25rem;
  padding: .8rem;
  font-family: "Aeonik Light", sans-serif !important;
  font-size: 1rem;
  clear: both;
  display: table;
  color: var(--terciary-color);
  word-break: break-all;
}

p.messageA{
  color: black !important;
  float: left;
  border-radius: 0rem 1rem 1rem 1rem;
  background-color: var(--terciary-color);
  box-shadow:  4px 4px 4px #e4e2e2, 
  -4px -4px 4px #ffffff;
  
}

p.messageB{
  float: right;
  border-radius: 1rem 1rem 0rem 1rem;
  background-color: #fa4090;
  box-shadow:  4px 4px 4px #eebed4, 
  -0px -0px 0px #ff4aa6;
  
}

::-webkit-scrollbar-track
{
	background-color: transparent;
}
::-webkit-scrollbar
{
	width: .5rem;
	background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  background-color: #00aaee;
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
                    color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.5, transparent), to(transparent));

}
/* ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border: 16px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
} */

@media screen and (max-width: 768px) {

  .flex-container{
    display: block;
    display: inline-block;
    vertical-align: middle
  }

  .side-a {
    width: 100vw;
    margin-left: 0;
  }

  .side-b{
    width: 100vw;
  }

   #logo{
    margin-top: 5rem !important;
    width: 20rem;

  }

  #inputChat{
    margin-top: 10rem !important;
  }

  .item{
    margin: auto !important;
    display: table;
  }

  footer{
    position: fixed;
  }

  footer li{
    margin: 0 .7rem 0 .7rem;
  }

  footer ul{
  /* margin-top: 10rem; */
  }


  .navIcons{
    margin: 2vw 2vw 0 2vw;
    background-color: var(--terciary-color);
    order: 1;
    height: 6.5vh;
    border-radius: 2rem 2rem 0 0;
    width: 97vw;
    }

  
  .navIcons i{
    color: var(--main-color);
    font-size: 1.5rem;  
    box-shadow:  -17px -17px 33px transparent;
  }
  
  .navIcons i:hover{
    box-shadow:  17px 17px 33px transparent ;
    color:var(--terciary-color)
  }

  .navIcons #settings{
    padding: 0 7rem;
  }

  #windowChat{
    position: absolute;
    top: 0;
    height: 100%;
    display: none;
    flex-direction: column;
    margin: 0;
    width: 100% ;
    /* height: 65vh; */
  }
  

  #textChat{

    margin: 2vw 2vw 2vw 2vw;
    width: 97vw;
  }

  .fieldType{
  }


  #chat{
    border-radius:  0 0 2rem 2rem;
    padding: 0;
    margin: 0 0 2vw 0;
    width: 97vw;
    margin: 0 2vw 0 2vw;
    /* background-color:transparent; */
  }

  #chat p {
    font-size: 1.2rem;
    box-shadow:  1px 1px 1px 1px #00000015!important;;
  }

  #wrapperChat{
    padding: 1rem;;
  }

  p {
    box-shadow: unset !important;
  }


  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: #00aaee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                      color-stop(.5, rgba(255, 255, 255, .2)),
              color-stop(.5, transparent), to(transparent));
  }

  ::-webkit-scrollbar
  {
    width: 2vw;
    background-color: rgba(0, 0, 0, 0);
  }

  

  .selectable-text {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
  }
}